*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.text {
    font-family: 'Apercu Pro', sans-serif;
    font-weight: 600;
}

.header {
    height: 313px;
    padding: 15px 20px;
    width: 100%;
    background-image: url(./images/Image_Cover.webp);
    background-color: rgb(105, 103, 103);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.header-nav {
    display: none;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.header-button {
    width: 95px;
    height: 23px;
    position: absolute;
    margin-left: 1200px;
    margin-top: 22px;
    display: none;
}

.font-headings {
    font-family: 'Roslindale';
    font-style: normal;
    font-weight: 300;
}
.logo {
    text-decoration: none;
    margin-bottom: 18px;
}

.main-title {
    margin-top: 16px;
    margin-bottom: 25px;
    font-size: 39px;
}

.main-title, .logo, .header>p {
    color: #fff;
}

.header > p {
    width: 216px;
}

.section {
    padding: 46px 10px;
    flex-direction: column;
    position: relative;
}

.section-title {
    margin-bottom: 30px;
}

.section p {
    font-size: 13px;
}

.text-history {
    margin-bottom: 10px;
}

.gallery {
    margin-top: 40px;
    list-style-type: none;
    position: relative;
}

.image {
    height: 190px;
    width: 190px;
    margin-bottom: 5px;
}

.third-image {
    position: absolute;
    top: 548px;
    left: 200px;
}

#right-title {
    text-align: right;
}

.title {
    text-transform: uppercase;
    font-size: 29px;
}

.desc {
    margin-top: 7px;
}

.images {
    margin-bottom: 20px;
}

.menu-desc {
    margin-top: 25px;
}

.decoration-title {
    margin-left: 22px;
    font-size: 23px;
}

.connect-title {
    font-size: 20px;
    margin-left: 22px;
    margin-bottom: 35px;
}

.connect-button {
    height: 33px;
    width: 198px;
    margin-left: 95px;
    margin-bottom: 73px;
}

.button {
    background-color:#D2A070;
    color: #fff;
    border: 0;
}

.footer {
    background-color: #151515;
    height: 394px;
    width: 100%;
    position: relative;
    padding-left: 32px;
    padding-top: 48px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.footer-logo {
    font-size: 18px;
}

.nav {
    margin-left: 275px;
    margin-right: 54px;
}

.nav-link {
    text-decoration: none;
    color: #fff;
}

.footer-text {
    color: #7C7C7C;
    font-size: 9px;
    margin-top: 4px;
}

.footer-list {
    margin-top: 22px;
}

.list-item {
    font-size: 12px;
}

.footer-button {
    margin-left: 237px;
    margin-top: 117px;
    width: 94px;
    height: 33px;
}

.thanks {
    margin-left: 260px;
    margin-top: 160px;
    text-align: center;
}

.footer-image {
    width: 336px;
    height: 87px;
}

.absolute {
    position: absolute;
}

.footer-image {
    width: 336px;
    height: 83px;
    border-style: solid;
    object-fit: cover;
    object-position: center;
    margin-top: 58px;
}

@media screen and (min-width:760px) {
    p {
        font-size: 15px;
    }
    
    .header {
        width: 100%;
        max-width: 1440px;
        height: 893px;
    }
    
    .header-nav {
        display: flex;
    }

    .header-button {
        display: block;
    }

    .main-title {
        font-size: 85px;
    }

    .header > p {
        width: 333px;
    }

    .section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 90%;
        margin: 0 auto;
    }

    .section-title {
        font-size: 36px;
        margin-bottom: 0;
        align-self: center;
        flex-basis: 60%;
        text-align: right;
        margin-top: 113px;
    }
    
    .text-history {
        align-self: flex-end;
        margin-top: -70px;
    }

    .section p {
        font-size: 15px;
        flex-basis: 40%;
        max-width: 380px;
    }
    
    .first-image {
        transform: scale(-1, 1);
        height: 682px;
        width: 667px;
    }

    .history-gallery {
        flex-basis: 100%;
        margin-top: 20px;
    }

    .history-collage {
        width: 303px;
        height: 341px;
    }

    .second-image {
        position: absolute;
        margin-left: 675px;
        margin-top: -686px;
    }

    .third-image {
        position: absolute;
        margin-left: 780px;
        margin-top: -200px;
    }

    .history-cover {
        margin-left: -20px;
        width: 1300px;
    }

    #right-title {
        font-size: 54px;
        margin-left: -60px;
        margin-top: -30px;
    }

    .dishes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .square-images {
        height: 370px;
        width: 370px;
        margin-right: 5px;
        margin-bottom: 10px;
    }

    .first-line {
        margin-right: 376px;
    }

    .square-item {
        display: inline-flex;
    }

    .sub-title {
        font-size: 25px;
        margin-left: 595px;
        margin-top: 320px;
    }

    .sub-desc {
        margin-left: 680px;
        margin-top: 350px;
    }

    .soups-title {
        text-align: center;
        font-size: 133px;
        margin-left: -50px;
    }

    .soups-desc {
        position: absolute;
        margin-left: 370px;
        margin-top: 173px;
    }

    .menu-title {
        position: absolute;
        margin-left: 760px;
        margin-top: 160px;
    }

    .menu-desc {
        position: absolute;
        margin-left: 760px;
        margin-top: 200px;
    }

    .menu-gallery {
        margin-top: -90px;
    }
}

@font-face {
    src: url('fonts/Roslindale-DisplayCondensedLight-Testing.woff2') format("woff2"),
        url('fonts/Roslindale-DisplayCondensedLight-Testing.woff') format("woff");
    font-family: 'Roslindale';
    font-style: normal;
    font-weight: 300;
}